<!-- <br>
<div class="w3-row-padding">
  <div class="w3-col m12">
    <div class="w3-card w3-round w3-white">
      <div class="w3-container w3-padding">
        <ng-container >
          <button mat-raised-button (click)="openDialog()" type="button" *ngIf="this.authService.isTeamLead()" class="w3-button w3-white w3-border">
            <i class="fa fa-pencil"></i>Create Task</button>
        </ng-container>
      </div>
    </div>
  </div>
</div> -->
<div class="float" *ngIf="taskListSv.topic != null && this.authService.isTeamLead() && semSv.canUse(taskListSv.topic.semesterNo)">
    <button type="button" class="btn btn-primary bmd-btn-fab" (click)="openDialog()">
        <i class="material-icons">create</i>
      </button>
</div>

<div *ngFor="let task of taskListSv.taskList | async">
  <app-task-detail [task]="task"></app-task-detail>
</div>
<div class="w3-padding-16">
  <app-task-pagination *ngIf="taskListSv.pageCount" (setPage)="taskListSv.getPage($event)" [page]="taskListSv.selectedPage" [pageCount]="taskListSv.pageCount" ></app-task-pagination>
</div>

