<div class="row">
  <div class="col-md-3 col-sm-12">
    <div class="mat-elevation-z1">
      <div class="white-box">
        <div class="box-title">
            Add Criterion
        </div>
        <div class="container">
          <form action="" method="post" #standardForm="ngForm" (ngSubmit)="addStandard()">
            <mat-form-field style="width: 100%">
              <input matInput placeholder="Standard Name" [(ngModel)]="standardCreate.stName" #name="ngModel" name="standradName" id="standradName"
                required>
            </mat-form-field>
            <mat-form-field style="width: 100%">
              <input matInput type="number" [(ngModel)]="standardCreate.coefficient" #coefficient="ngModel" name="coefficientST" id="standradName"
                placeholder="Weight" required>
            </mat-form-field>
          </form>
  
        </div>
        <button type="button" name="addBtn" (click)="addStandard()" id="addBtn" class="btn btn-primary btn-block active" [disabled]="!standardForm.valid || standardCreate.coefficient <= 0">Add</button>
      </div>
    </div>
  </div>
  <div class="col-md-9 col-sm-12">
    <div class="mat-elevation-z1">
      <div class="white-box">
        <div class="box-title">
          Personal Criterions
        </div>
        <div class="filter-header">
          <mat-form-field style="width: 100%">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>
        <mat-table [dataSource]="standardSrc">
          <ng-container matColumnDef="idStandard">
            <mat-header-cell *matHeaderCellDef> Id Standard </mat-header-cell>
            <mat-cell *matCellDef="let standard"> {{standard.idStandard}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="stName">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let standard">
              <ng-container *ngIf="standdardSelected.idStandard == null || standard.idStandard != standdardSelected.idStandard; else elseTemplate">
                {{standard.stName}}
              </ng-container>
              <ng-template #elseTemplate>
                <mat-form-field>
                  <input matInput placeholder="Name" [(ngModel)]="standdardSelected.stName" name="stEditName" #stEditName="ngModel" required>
                </mat-form-field>
              </ng-template>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="coefficient">

            <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
            <mat-cell *matCellDef="let standard">
              <ng-container *ngIf="standdardSelected.idStandard == null || standard.idStandard != standdardSelected.idStandard;  else elseTemplate">
                {{standard.coefficient}}
              </ng-container>
              <ng-template #elseTemplate>
                <mat-form-field>
                  <input matInput type="number" placeholder="Weight" [(ngModel)]="standdardSelected.coefficient" name="stEditCo" #stEditCo="ngModel"
                    required>
                </mat-form-field>
              </ng-template>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let standard">
              <ng-container *ngIf="standdardSelected.idStandard == null || standard.idStandard != standdardSelected.idStandard; else elseTemplate">
                <button type="submit" class="btn btn-danger active btn-sm" (click)="removeStandard(standard.idStandard)">Remove</button>
                <button type="submit" class="btn btn-primary active btn-sm" (click)="editStandard(standard)">Change</button>
              </ng-container>
              <ng-template #elseTemplate>
                <button type="submit" class="btn btn-primary active btn-sm" (click)="submitEdit()" [disabled]="!standdardSelected.stName || !standdardSelected.coefficient || standdardSelected.coefficient < 0">Submit</button>
                <button type="submit" class="btn btn-dark active btn-sm" (click)="reset()">Cancel</button>
              </ng-template>
            </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns ;"></mat-row>
        </mat-table>
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container>
        <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
<br>
<div class="mat-elevation-z1">
  <div class="white-box">
    <div class="box-title">
      General Criterions
    </div>
    <div class="filter-header">
      <mat-form-field style="width: 100%">
        <mat-select placeholder="Semester No">
          <mat-option *ngFor="let sem of semesterSv.getListSemster()" [value]="sem.semesterNo" (click)="changeSemester(sem.semesterNo)">
            {{ sem.semesterNo }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 100%">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

    </div>
    <mat-table [dataSource]="standardGeneral">
      <ng-container matColumnDef="idStandard">
        <mat-header-cell *matHeaderCellDef> Id Standard </mat-header-cell>
        <mat-cell *matCellDef="let standard"> {{standard.idStandard}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="stName">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let standard">
          {{standard.stName}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="coefficient">

        <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
        <mat-cell *matCellDef="let standard">
          {{standard.coefficient}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="semester">
        <mat-header-cell *matHeaderCellDef> Semester No </mat-header-cell>
        <mat-cell *matCellDef="let standard">
          {{standard.semesterNo}}
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumnsGeneral"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsGeneral ;"></mat-row>
    </mat-table>
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>
    <mat-paginator #paginatorGeneral [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</div>