<div class="row">
  <div class="col-md-5 col-sm-12">
    <legend>Add Standard</legend>
    <form action="" method="post" #standardForm="ngForm" (ngSubmit)="addStandard()">
      <div class="bmd-form-group">
        <label for="standradName" class="bmd-label-static">Standard</label>
        <input type="text" [(ngModel)]="standardCreate.stName" #name="ngModel" class="form-control" name="standradName" id="standradName"
          aria-describedby="standardNameId" placeholder="" required>
      </div>
      <div class="bmd-form-group">
        <label for="coefficientST" class="bmd-label-static">Coefficient</label>
        <input type="number" [(ngModel)]="standardCreate.coefficient" #coefficient="ngModel" class="form-control" name="coefficientST"
          id="standradName" aria-describedby="standardNameId" placeholder="" required>
      </div>
      <button type="button" name="addBtn" (click)="addStandard()" id="addBtn" class="btn btn-primary btn-block active" [disabled]="!standardForm.valid">Add</button>
    </form>
  </div>
  <div class="col-md-7 col-sm-12">
    <legend>Standard List</legend>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Coefficient</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let st of standardList | async | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
          <th scope="row">{{i}}</th>
          <ng-container *ngIf="standdardSelected.idStandard != null && st.idStandard === standdardSelected.idStandard ; else elseTemplate">
            <td>
              <input type="text" class="form-control" [(ngModel)]="standdardSelected.stName" name="stEditName" #stEditName="ngModel" required>
            </td>
            <td>
              <input type="number" class="form-control" [(ngModel)]="standdardSelected.coefficient" name="stEditCo" #stEditCo="ngModel"
                required>
            </td>

            <td>
              <button type="submit" class="btn btn-primary active" (click)="submitEdit()" [disabled]="!stEditName.valid || !stEditCo.valid">Submit</button>
              <button type="submit" class="btn btn-dark active" (click)="reset()">Cancel</button>
            </td>
          </ng-container>
          <ng-template #elseTemplate>
            <td>{{st.stName}}</td>
            <th>{{st.coefficient}}</th>
            <td>
              <button type="submit" class="btn btn-danger active" (click)="removeStandard(st.idStandard)">Remove</button>
              <button type="submit" class="btn btn-primary active" (click)="editStandard(st)">Change</button>
            </td>
          </ng-template>

        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>

  <hr>
</div>


