

.navbar-sidenav .nav-link{
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.main-container {
  margin-top: 56px;
  margin-left: 235px;
  padding: 15px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .main-container {
    margin-left: 0px !important;
  }
  .navbar-sidenav{
    margin-top: 51px !important;
    height: 100vh !important;
    overflow-y: auto;
  
  }
  .sidenav-second-level {
    max-height: 200px;
    overflow-y: auto;
  }
}

.content-wrapper {
  padding-top: 51px !important;
}
.breadcrumb {
  background-color: white !important;
}
