

.navbar-sidenav .nav-link{
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.main-container {
  margin-top: 56px;
  margin-left: 235px;
  padding: 15px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  overflow: hidden;
}

.breadcrumb-top{
  margin-top: 60px;
}
.sidenav-second-level{
  background: #424242 !important;
}

@media screen and (min-width: 992px) {
  .main-container {
    margin-left: 0px !important;
  }
  .navbar-sidenav{
    margin-top: 51px !important;
    background: #424242 !important;
    height: 100vh !important;
  
  }
}
