<div class="card card-position" *ngIf="task != null">
  <ng-container *ngIf="task.showFullTask">
    <div class="button-x" style="padding-right: 40px">
      <span (click)="openEditDialog()" class="btn btn-default">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </span>
    </div>
    <div class="button-x">
      <span (click)="showTask(task)" class="btn btn-default">
        <i class="fas fa-times"></i>
      </span>
    </div>
    <div class="card-header">
      <h5>{{task.title}}</h5>
      <span class="time">{{task.updateTime | date : 'fullDate'}}</span>
    </div>
    <div class="card-body">
      <div class="pull-right">
        <button type="button" (click)="isSubmitTask()" *ngIf="isTeamlead && !task.submit && !this.authService.isProfessor()" class="btn btn-default">
          <i class="fas fa-edit"></i>Submit</button>
        <button type="button " *ngIf="task.submit && this.authService.isStudent()" class="btn btn-default">
          <i class="fas fa-edit"></i>Submited</button>

      </div>
      <div class="content-block">
        <label>
          Description:
        </label>
        <p class="card-text">{{task.description}}</p>
      </div>
      <div class="content-block">
        <label>
          Deadline:
        </label>
        <p>
          <i class="w3-text-teal fa fa-calendar fa-fw w3-margin-right"></i>{{task.deadline | date}}
        </p>
      </div>
      <ng-container *ngIf="task.student != null && task.student.length > 0">
        <div class="content-block" *ngIf="isTaskOwner">
          <label>
            Upload to personal repository:
          </label>
          <app-form-upload [id]="task.idTask" (updateFile)="addversion(false)"></app-form-upload>
        </div>
        <div class="content-block" *ngIf="authService.isTeamLead()">
          <h6>
            Submit to main:
          </h6>
          <app-form-upload [id]="task.idTask" [general]="true" (updateFile)="addversion(true)"></app-form-upload>
        </div>
        <div>
          <label>
            Uploaded Files:
          </label>
          <mat-accordion>
            <ng-container *ngIf="!authService.isProfessor()">
              <mat-expansion-panel *ngFor="let std of task.student">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{std.username}}
                  </mat-panel-title>
                  <mat-panel-description>
                    Files Of {{std.username}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <app-list-upload [taskId]="task.idTask" [ver]="std.currentVersion" [userId]="std.userId" [isTaskOwner]="isTaskOwner"></app-list-upload>
              </mat-expansion-panel>
            </ng-container>
            <mat-expansion-panel class="bg-light">
              <mat-expansion-panel-header>
                <mat-panel-title >
                  Main
                </mat-panel-title>
                <mat-panel-description>
                  Main Files
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-list-upload class="text-white" [taskId]="task.idTask" [ver]="task.currentVersion" [general]="true"></app-list-upload>
            </mat-expansion-panel>
          </mat-accordion>
        </div>



      </ng-container>
      <br>

      <div class="pull-right">
        <div class="w3-dropdown-hover ">
          <button *ngIf="this.authService.isProfessor() && task.pass == 0" type="button" class="w3-button w3-white w3-border">
            <i class="fas fa-edit"></i> Review</button>
          <button *ngIf="task.pass == 2" type="button" class="w3-button w3-white w3-border w3-border-green">
            <i class="fa fa-check"></i> Passed</button>
          <button *ngIf="task.pass == 1" type="button" class="w3-button w3-white w3-border w3-border-red">
            <i class="fas fa-times"></i> Not Passed</button>
          <div id="Demo" *ngIf="this.authService.isProfessor()" class="w3-dropdown-content w3-bar-block">
            <a (click)="reviewTask(2)" class="w3-bar-item w3-button w3-show w3-border">Pass</a>
            <a (click)="reviewTask(1)" class="w3-bar-item w3-button w3-show w3-border">Not Pass</a>
          </div>
        </div>
      </div>

      <hr>
      <a (click)="getTaskComment(task)" class="btn btn-primary">
        <b>Replies </b>
        <span *ngIf="task.comment" class="w3-tag w3-white"> {{task.comment.length}}</span>
      </a>
      <app-task-comment *ngIf="task.showCmt == true" [taskid]="task.idTask"></app-task-comment>
    </div>


  </ng-container>

  <div class="card-body card-fix row block-content" *ngIf="task.showFullTask == undefined" (click)="showTask(task)">
    <div class="col-md-8 col-sm-9 no-width">
      <h6>
        {{task.title}}
      </h6>
      <strong class="text-center text-danger">
        {{task.deadline | date}}

      </strong>
    </div>
    <h6 class="col-md-3 col-sm-2 text-center no-width">
      <!-- <button type="button" *ngIf="isTeamlead && !task.submit && !this.authService.isProfessor()" (click)="isSubmitTask()" class="btn btn-primary active">
        <i class="fas fa-edit"></i> Submit</button> -->
      <button type="button " *ngIf="task.submit && !this.authService.isProfessor()" class="btn btn-default">
        <i class="fas fa-edit"></i> Submited</button>
    </h6>
    <h6 class="col-md-1 col-sm-1 text-right no-width">
      <button class="btn btn-default btn-sm disabled w3-text-red" *ngIf="task.pass == 1">
        <span class="fas fa-times"></span>
      </button>
      <button class="btn btn-default btn-sm disabled w3-text-green" *ngIf="task.pass == 2">
        <span class="fa fa-check"></span>
      </button>

    </h6>
  </div>

</div>

<div class="w3-modal {{issubmit}}" *ngIf="isTeamlead">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:400px">
    <div class="w3-container w3-white w3-center">
      <h3 class="w3-wide">Do you want to submit this task?</h3>
      <div class="w3-row">
        <div class="w3-half">
          <button type="submit" (click)="submitToProf()" class="w3-button w3-block w3-green">Submit</button>
        </div>
        <div class="w3-half">
          <button type="button" (click)="isSubmitTask()" class="w3-button w3-block w3-red">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>