<br>
<div class="card">

  <ng-container class="card-body" *ngIf="task.showFullTask">
    <div class="card-title">
      <div class="pull-left">
        <h2>
          <i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>{{task.title}}
        </h2>
      </div>
      <div class="pull-right">
        <div>
            <span (click)="showTask(task)" class="btn btn-default active">
              <i class="fa fa-close"></i>
            </span>
        </div>
        <div>
          <button type="button" *ngIf="this.authService.isTeamLead() && !task.submit && !this.authService.isProfessor() && isrecent"
            class="btn btn-default">
            <i class="fa fa-pencil"></i>Submit</button>
          <button type="button " *ngIf="task.submit && !this.authService.isProfessor() && task.pass == 1" (click)="isSubmitTask()" class="btn btn-default">
            <i class="fa fa-pencil"></i>Submited</button>
        </div>
      </div>
    </div>
    <div class="card-body">

      <h5 class="w3-opacity">
        <b>Description: </b>
      </h5>
      <p class="card-text">{{task.description}}</p>

      <ng-container *ngIf="task.student != null && task.student.length > 0">
        <ng-container *ngIf="isTaskOwner">
          <h5 class="w3-opacity">
            <b>Upload File To Your Repo:</b>
          </h5>
          <app-form-upload [id]="task.taskID"></app-form-upload>
        </ng-container>
        <ng-container *ngIf="authService.isTeamLead()">
          <h5 class="w3-opacity">
            <b>Submit File To Proffesor:</b>
          </h5>
          <app-form-upload [id]="task.taskID" [general]="true"></app-form-upload>
        </ng-container>
        <h5 class="w3-opacity">
          <b>Uploaded Files:</b>
        </h5>
        <mat-accordion>
          <ng-container *ngIf="!authService.isProfessor()">
            <mat-expansion-panel *ngFor="let std of task.student" >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{std.username}}
                </mat-panel-title>
                <mat-panel-description>
                  Upload Detail Of {{std.username}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-list-upload [taskId]="task.taskID" [ver]="std.currentVersion" [userId]="std.userId" [isTaskOwner] ="isTaskOwner"></app-list-upload>  
            </mat-expansion-panel>
          </ng-container>
          <mat-expansion-panel class="bg-primary">
            <mat-expansion-panel-header>
              <mat-panel-title class="text-white">
                Main
              </mat-panel-title>
              <mat-panel-description  class="text-white">
                Upload Detail To Proffessor
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-list-upload class="text-white" [taskId]="task.taskID" [ver]="task.currentVersion" [general]="true"></app-list-upload>
          </mat-expansion-panel>
        </mat-accordion>



      </ng-container>
      <span class="d-inline-block">

        <h5 class="w3-opacity">
          <b>Deadline: </b>
        </h5>
        <h6 class="w3-text-teal">
          <i class="fa fa-calendar fa-fw w3-margin-right"></i>{{task.deadline | date}}
        </h6>
      </span>


      <div class="w3-dropdown-hover w3-margin-bottom ">
        <button *ngIf="this.authService.isProfessor() && task.pass == 0" type="button" class="w3-button w3-white w3-border">
          <i class="fa fa-pencil"></i> Review</button>
        <button *ngIf="task.pass == 2" type="button" class="w3-button w3-white w3-border w3-border-green">
          <i class="fa fa-check"></i> Passed</button>
        <button *ngIf="task.pass == 1" type="button" class="w3-button w3-white w3-border w3-border-red">
          <i class="fa fa-close"></i> Not Passed</button>
        <div id="Demo" *ngIf="this.authService.isProfessor()" class="w3-dropdown-content w3-bar-block">
          <a (click)="reviewTask(2)" class="w3-bar-item w3-button w3-show w3-border">Pass</a>
          <a (click)="reviewTask(1)" class="w3-bar-item w3-button w3-show w3-border">Not Pass</a>
        </div>
      </div>

    </div>
    <hr>
    <p class="text-center">
      <button (click)="getTaskComment(task)" class="btn btn-primary">
        <b>Replies </b>
        <span *ngIf="task.comment" class="w3-tag w3-white"> {{task.comment.length}}</span>
      </button>
    </p>
    <p class="w3-clear"></p>

    <app-task-comment *ngIf="task.showCmt == true" [taskid]="task.taskID"></app-task-comment>


  </ng-container>

  <div class="card-body row" *ngIf="task.showFullTask == undefined">
    <h4 class="col-3">
      <i class="fa fa-certificate fa-fw w3-large w3-text-teal"></i>{{task.title}}
    </h4>
    <h6 class="col-3 text-center w3-text-teal">
      <i class="material-icons" style="vertical-align:middle">date_range</i> {{task.deadline | date}}

    </h6>
    <h6 class="col-3 text-center">
      <button type="button" *ngIf="this.authService.isTeamLead() && !task.submit && !this.authService.isProfessor()" (click)="isSubmitTask()"
        class="btn btn-primary active">
        <i class="fa fa-pencil"></i> Submit</button>
      <button type="button " *ngIf="task.submit && !this.authService.isProfessor()" (click)="isSubmitTask()" class="btn btn-secondary active">
        <i class="fa fa-pencil"></i> Submited</button>
    </h6>
    <h6 class="col-1">
      <i *ngIf="task.pass == 1" class="fa fa-close red" style="color:red;"></i>
      <i *ngIf="task.pass == 2" class="fa fa-check" style="color:green;"></i>
    </h6>
    <h6 class="col-2">
      <button type="button" (click)="showTask(task)" class="btn btn-default active">
        Show detail
      </button>
    </h6>
  </div>

</div>

<div class="w3-modal {{issubmit}}" *ngIf="this.authService.isTeamLead()">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
    <div class="w3-container w3-white w3-center">
      <h3 class="w3-wide">Do you want to submit this task?</h3>
      <div class="w3-row">
        <div class="w3-half">
          <button type="submit" (click)="submitToProf()" class="w3-button w3-block w3-green">Submit</button>
        </div>
        <div class="w3-half">
          <button type="button" (click)="isSubmitTask()" class="w3-button w3-block w3-red">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>