<div class="row">
	<div class="col-4" *ngIf="manageUser != null">
		<div class="mat-elevation-z1">
			<div class="white-box">
				<div class="box-title">
					View Profile
				</div>
				<label>
					User Name
				</label>
				<p>{{manageUser.user.userName}}</p>
				<label>
					Email
				</label>
				<p>{{manageUser.user.email}}</p>
				<label>
					System Role
				</label>
				<p>{{manageUser.user.role == 1 ? 'Admin' : (manageUser.professor ? 'Professor' : 'Student')}}</p>
				<label>
					Faculty
				</label>
				<p>{{manageUser.facultyName}}</p>
			</div>
		</div>
	</div>
	<div class="col-8">
		<div class="mat-elevation-z1">
			<div class="white-box">
				<div class="box-title">
					Manage Profile
				</div>
				<div *ngIf="manageUser != null">

					<form #profileForm="ngForm">
						<mat-form-field class="mat-full-width">
							<input matInput type="text" placeholder="Username" [(ngModel)]="manageUser.user.userName" name="username">
							<div *ngIf="isEditUsername == false" class="alert">Username already exit!!!</div>
						</mat-form-field>
						<mat-form-field class="mat-full-width">
							<input matInput type="password" placeholder="Password" [(ngModel)]="manageUser.user.password" name="pass">
						</mat-form-field>
						<mat-form-field class="mat-full-width">
							<input matInput type="text" placeholder="FirstName" [(ngModel)]="manageUser.user.firstName" name="fname">
						</mat-form-field>
						<mat-form-field class="mat-full-width">
							<input matInput type="text" placeholder="LastName" [(ngModel)]="manageUser.user.lastName" name="lname">
						</mat-form-field>
						<mat-form-field class="mat-full-width">
							<input matInput type="text" placeholder="Email" [formControl]="emailFormControl" name="email" [(ngModel)]="manageUser.user.email">
							<div *ngIf="isEditEmail == false" class="alert">Email already exit!!!</div>
						</mat-form-field>
						<mat-form-field class="mat-full-width">
							<mat-select placeholder="Gender" [(value)]="manageUser.user.gender" name="gender">
								<mat-option value="0">
									Male
								</mat-option>
								<mat-option value="1">
									Female
								</mat-option>
							</mat-select>
						</mat-form-field>
						<ng-container *ngIf="manageUser.professor != null">
							<mat-form-field class="mat-full-width">
								<input matInput type="text" placeholder="Degree" [(ngModel)]="manageUser.professor.degree" name="degree">
							</mat-form-field>
							<mat-form-field class="mat-full-width">
								<input matInput type="text" placeholder="Skills" [(ngModel)]="manageUser.professor.skills" name="skills">
							</mat-form-field>
						</ng-container>
					</form>
					<input name="" id="" class="btn btn-success" type="button" value="Update Profile" (click)="postProfile()">
				</div>
			</div>
		</div>
	</div>