
<div class="row">
  <div class="col-sm-12" [ngClass]="standardListReview? 'col-md-5':'col-md-12'">
    <mat-toolbar><i class="material-icons">
        create
        </i> Review</mat-toolbar>
    <div class="mat-elevation-z8" *ngIf="dataSourceRe != null">
      <div class="filter-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value, false)" placeholder="Filter">
        </mat-form-field>
      </div>
      <mat-table #table [dataSource]="dataSourceRe" matSortRe>
        <ng-container matColumnDef="idTop">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let topic"> {{topic.idTop}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> Tilte </mat-header-cell>
          <mat-cell *matCellDef="let topic"> {{topic.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="stNumLimit">
          <mat-header-cell *matHeaderCellDef> Student Number </mat-header-cell>
          <mat-cell *matCellDef="let topic"> {{topic.stNumLimit}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="publishDate">
          <mat-header-cell *matHeaderCellDef> Publish Date </mat-header-cell>
          <mat-cell *matCellDef="let topic"> {{topic.publishDate | date:'fullDate'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let topic">
            <button type="button" class="btn btn-success" (click)="review(topic.idTop) && setSlTopic(topic)">Review</button>
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="standardListReview ? displayedColumns : displayedColumnsFull"></mat-header-row>
        <mat-row *matRowDef="let row; columns: standardListReview ? displayedColumns : displayedColumnsFull;"></mat-row>
      </mat-table>

      <mat-paginator #paginatorRe [pageSize]="3" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </div>
  <hr>
  <div class="col-md-7 col-sm-12" *ngIf="standardListReview">
    <mat-toolbar>Score</mat-toolbar>
    <form action="" method="post" class="form" #submitReviewForm="ngForm">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Coefficient</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let st of standardListReview; let i = index">
            <th scope="row">{{i}}</th>
            <td>{{st.stName}}</td>
            <td>{{st.coefficient}}</td>
            <td>
              <input type="number" id="score{{i}}" name="score{{i}}" min="0" max="10" [(ngModel)]="reviewTp.standardScores[i].score" #score="ngModel"
                required>
            </td>
          </tr>
          <tr style="font-weight: bolder">
            <td colspan="3" class="text-center">
              Final Score
            </td>
            <td>
              {{finalScore()}}
            </td>
          </tr>
        </tbody>
      </table>
      <div>

      </div>
      <button *ngIf="reviewTp != null" type="button" name="" id="" class="btn btn-primary btn-lg btn-block active" (click)="submitReview()"
        [disabled]="!submitReviewForm.form.valid">Submit</button>
        <button type="button" name="cancelRv" id="cancelRv" class="btn btn-secondary btn-lg btn-block" (click)="standardListReview = null">Cancel</button>
    </form>
  </div>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div class="row">
  <div class="col-sm-12" [ngClass]=" topicRvStandardDetail ? 'col-md-5':'col-md-12'">
    <mat-toolbar><i class="material-icons">
        history
        </i> Reviewed</mat-toolbar>
    <div class="mat-elevation-z8" *ngIf="dataSource != null">
      <div class="filter-header">
        <mat-form-field>
          <mat-select placeholder="Semester No">
            <mat-option *ngFor="let sem of listSem | async" (click)="onChangeSemester(sem)" [value]="sem">{{sem}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value, true)" placeholder="Filter">
        </mat-form-field>
      </div>
      <mat-table #table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="idTop">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let topic"> {{topic.idTop}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> Tilte </mat-header-cell>
          <mat-cell *matCellDef="let topic"> {{topic.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="stNumLimit">
          <mat-header-cell *matHeaderCellDef> Student Number </mat-header-cell>
          <mat-cell *matCellDef="let topic"> {{topic.stNumLimit}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="publishDate">
            <mat-header-cell *matHeaderCellDef> Publish Date </mat-header-cell>
            <mat-cell *matCellDef="let topic"> {{topic.publishDate | date:'fullDate'}} </mat-cell>
          </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let topic">
            <button type="button" class="btn btn-secondary" (click)="detail(topic.idTop)">Detail</button>
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="topicRvStandardDetail ? displayedColumns : displayedColumnsFull"></mat-header-row>
        <mat-row *matRowDef="let row; columns: topicRvStandardDetail ? displayedColumns : displayedColumnsFull;"></mat-row>
      </mat-table>

      <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
      </mat-paginator>
    </div>

  </div>
  <div class="col-7" *ngIf="topicRvStandardDetail">
    <mat-toolbar>Score</mat-toolbar>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Coefficient</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tp of topicRvStandardDetail; let i = index">
          <th scope="row">{{i}}</th>
          <td>{{tp.content}}</td>
          <td>{{tp.coefficient}}</td>
          <td>
            {{tp.score}}
          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" name="cancelRv" id="cancelRv" class="btn btn-secondary btn-lg btn-block" (click)="topicRvStandardDetail = null">Cancel</button>
  </div>
</div>