<div class="row">
  <div class="col-sm-12" [ngClass]="standardListReview? 'col-md-5':'col-md-12'">
    <div class="mat-elevation-z1">
      <div class="white-box">
        <div class="box-title text-primary">
          <i class="material-icons">
            create
          </i> Review
        </div>
        <div class="filter-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value, false)" placeholder="Filter">
          </mat-form-field>
        </div>
        <mat-table #table [dataSource]="dataSourceRe">
          <ng-container matColumnDef="idTop">
            <mat-header-cell *matHeaderCellDef> Id Topic </mat-header-cell>
            <mat-cell *matCellDef="let topic"> {{topic.idTop}} </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Tilte </mat-header-cell>
            <mat-cell *matCellDef="let topic"> <div class="title">
              {{topic.title}}
            </div>  </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="stNumLimit">
            <mat-header-cell *matHeaderCellDef> Student Number </mat-header-cell>
            <mat-cell *matCellDef="let topic"> {{topic.studentCount}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="publishDate">
            <mat-header-cell *matHeaderCellDef> Publish Date </mat-header-cell>
            <mat-cell *matCellDef="let topic"> {{topic.publishDate | date:'fullDate'}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let topic">
              <button type="button" class="btn btn-success" [disabled]="!semSv.isFinalReview()" (click)="review(topic.idTop) && setSlTopic(topic)">Review</button>
            </mat-cell>
          </ng-container>
  
  
          <mat-header-row *matHeaderRowDef="standardListReview ? displayedColumns : displayedColumnsFull"></mat-header-row>
          <mat-row *matRowDef="let row; columns: standardListReview ? displayedColumns : displayedColumnsFull;"></mat-row>
        </mat-table>
  
        <mat-paginator #paginatorRe [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
        </mat-paginator>
      </div>
    </div>

  </div>
  <hr>
  <div class="col-md-7 col-sm-12" *ngIf="standardListReview">
    <div class="mat-elevation-z1">
      <div class="white-box">
        <div class="box-title">
            Score
        </div>
        <form action="" method="post" class="form" #submitReviewForm="ngForm">
          <table class="table">
            <thead class="bg-primary">
              <tr>
                <th scope="col" class="text-white">#</th>
                <th scope="col" class="text-white">Name</th>
                <th scope="col" class="text-white">Coefficient</th>
                <th scope="col" class="text-white">Score</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let st of standardListReview; let i = index">
                <th scope="row">{{i}}</th>
                <td>{{st.stName}}</td>
                <td>{{st.coefficient}}</td>
                <td>
                  <input type="number" id="score{{i}}" name="score{{i}}" min="0" max="10" [(ngModel)]="reviewTp.standardScores[i].score" #score="ngModel"
                    required>
                </td>
              </tr>
              <tr style="font-weight: bolder">
                <td colspan="3" class="text-center">
                  Final Score
                </td>
                <td>
                  {{finalScore()}}
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">
    
            <button *ngIf="reviewTp != null && semSv.isCurrentFinalReview()" type="button" name="" id="" class="btn btn-primary" (click)="submitReview()"
              [disabled]="!submitReviewForm.form.valid">Submit</button>
            <button type="button" name="cancelRv" id="cancelRv" class="btn btn-secondary " (click)="standardListReview = null">Cancel</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12" [ngClass]=" topicRvStandardDetail ? 'col-md-5':'col-md-12'">
    <div class="mat-elevation-z1">
      <div class="white-box">
        <div class="box-title">
          <i class="material-icons">
            history
          </i> Reviewed
        </div>
        <div class="filter-header">
          <mat-form-field>
            <mat-select placeholder="Semester No">
              <mat-option *ngFor="let sem of listSem | async" (click)="onChangeSemester(sem)" [value]="sem">{{sem}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value, true)" placeholder="Filter">
          </mat-form-field>
        </div>
        <mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="idTop">
            <mat-header-cell *matHeaderCellDef> Id Topic</mat-header-cell>
            <mat-cell *matCellDef="let topic"> {{topic.idTop}} </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Tilte </mat-header-cell>
            <mat-cell *matCellDef="let topic"> 
              <div class="title">
                {{topic.title}} 
              </div>
            </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="stNumLimit">
            <mat-header-cell *matHeaderCellDef> Student Number </mat-header-cell>
            <mat-cell *matCellDef="let topic"> {{topic.stNumLimit}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="publishDate">
            <mat-header-cell *matHeaderCellDef> Publish Date </mat-header-cell>
            <mat-cell *matCellDef="let topic"> {{topic.publishDate | date:'fullDate'}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let topic">
              <button type="button" class="btn btn-secondary" (click)="detail(topic.idTop)">Detail</button>
            </mat-cell>
          </ng-container>
  
  
          <mat-header-row *matHeaderRowDef="topicRvStandardDetail ? displayedColumns : displayedColumnsFull"></mat-header-row>
          <mat-row *matRowDef="let row; columns: topicRvStandardDetail ? displayedColumns : displayedColumnsFull;"></mat-row>
        </mat-table>
  
        <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
        </mat-paginator>
      </div>
    </div>


  </div>
  <div class="col-7" *ngIf="topicRvStandardDetail">
    <app-score-table [topicRvStandardDetail]="topicRvStandardDetail" (close)="topicRvStandardDetail = null"></app-score-table>
  </div>
</div>