<form #createTopicForm="ngForm" action="" method="post" (ngSubmit)="submitTopic(createTopic)" class="mat-form">
  <mat-form-field class="mat-full-width">
    <input matInput type="text" name="title-topic" id="title-topic" placeholder="Title" [(ngModel)]="createTopic.topic.title"
      required #title="ngModel">
  </mat-form-field>
  <mat-form-field class="mat-full-width" hintLabel="Max 9 students">
    <input matInput type="number" [formControl]="numberForm" [(ngModel)]="createTopic.topic.stNumLimit" #stLim name="stLim" id="stLim" placeholder="Student Limit">
  </mat-form-field>
  <mat-form-field class="mat-full-width">
    <mat-select placeholder="Specialize" required [(ngModel)]="createTopic.topic.idSpecialize" #spec="ngModel" name="spec">
      <mat-option *ngFor="let spec of specLst | async" [value]="spec.idSpecialize">
        {{spec.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="mat-full-width">
    <textarea name="sumary" matInput matTextareaAutosize matAutosizeMinRows="2" #sumary="ngModel" matAutosizeMaxRows="10" placeholder="Summary"
      [(ngModel)]="createTopic.topic.sumary"></textarea>
  </mat-form-field>
  <label>Requirements</label>
  <mat-form-field class="mat-full-width" *ngFor="let req of createTopic.topicRequirement; let i = index">
    <textarea matInput type="text" [(ngModel)]="req.detail" name="require{{i}}" required #require="ngModel" placeholder="Requirement {{i}}"
      matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="10"></textarea>
    <button *ngIf="createTopic.topicRequirement.length > 1" mat-button matSuffix mat-icon-button aria-label="Remove" (click)="removeReq(i)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="text-right">
    <button name="btnAddReq" id="btnAddReq" mat-raised-button type="button" (click)="addReq()">Add</button>
  </div>
  <label>References And Keywords</label>
  <mat-form-field class="mat-full-width" *ngFor="let miss of createTopic.topicMission; let i = index">
    <input matInput type="text" [(ngModel)]="miss.detail" required #mission="ngModel" name="mission{{i}}" placeholder="Reference And Keyword {{i}}">
    <button mat-button matSuffix mat-icon-button aria-label="Remove" (click)="removeMission(i)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="text-right">
    <button type="button" mat-raised-button (click)="addMission()">Add</button>
  </div>

</form>

<button type="submit" mat-button [class]="'btn btn-success'" (click)="submitTopic()" [disabled]="!createTopicForm.form.valid" data-dismiss="modal">{{draft ? 'Save As Draft' : 'Submit'}} </button>