<mat-accordion class="example-headers-align">
  <mat-expansion-panel hideToggle="true" #matExpansionPanel>
    <mat-expansion-panel-header>

      <mat-panel-title *ngIf=" !isDiary && meeting.status == 0">
        <mat-icon>history</mat-icon> Waiting</mat-panel-title>
      <mat-panel-title *ngIf="!isDiary && meeting.status == 1">
        <mat-icon style="color:#009688">assignment_turned_in</mat-icon> {{bookedSchedule.meetingTime | date}} - {{bookedSchedule.location}}</mat-panel-title>
      <mat-panel-title *ngIf="!isDiary && meeting.status == 2">
        <span matTooltip="{{meeting.reason}}">
          <mat-icon style="color:#f55549">restore_from_trash</mat-icon>
        </span> {{bookedSchedule.meetingTime | date}} - {{bookedSchedule.location}}
      </mat-panel-title>

      <mat-panel-title>
        <span matTooltip="{{topicTitle}}">{{meeting.title}}</span>
      </mat-panel-title>

      <mat-panel-title *ngIf="isDiary">
        <strong>
          Meeting Diary
        </strong>
      </mat-panel-title>

      <span matTooltip="Meeting Diary" hideToggle="false">
        <mat-icon class="example-icon" *ngIf="!isDiary" (click)="getPublicDiary(matExpansionPanel)">event_note</mat-icon>
      </span>
      <span matTooltip="Meeting Content">
        <mat-icon class="example-icon" *ngIf="isDiary && !isPublicDiary" (click)="getMeetingContent(matExpansionPanel)">group</mat-icon>
      </span>
      <span matTooltip="Meeting Content">
        <mat-icon class="example-icon" *ngIf="isDiary && isPublicDiary" (click)="getPersonalDiary(matExpansionPanel)">perm_contact_calendar</mat-icon>
      </span>

    </mat-expansion-panel-header>

    <div *ngIf="!isDiary">
      <mat-form-field class="mat-form-meeting-content">
        <textarea readonly [(ngModel)]="meeting.content" matInput cols="10" rows="5" placeholder="Meeting Content: ">
            </textarea>
      </mat-form-field>
      <!-- <p>{{meeting.content}}</p> -->
      <div class="row">
        <mat-form-field class="time-location-list col-md-6">
          <mat-select placeholder="Student" [(ngModel)]="tempListStudent" multiple>
            <mat-option *ngFor="let std of listAllStd" [value]="std">{{std.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="time-location-list col-md-5">
          <mat-select placeholder="Time-Location" [(ngModel)]="bookedSchedule" [disabled]="(meeting.status ==1 || meeting.status == 2)? 'true' : 'false'">
            <mat-option *ngFor="let sch of meeting.timeLocation" [value]="sch">
              {{sch.meetingTime | date}} - {{sch.location}}
            </mat-option>
          </mat-select>
          <mat-hint>You can't rebook Time-Location if the meeting was booked!</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="isDiary" class="example-container">
      <div *ngIf="isPublicDiary">
        <mat-form-field class="mat-form-meeting-content">
          <textarea [(ngModel)]="meeting.reportContent" matInput cols="10" rows="5" placeholder="Content">
              </textarea>
        </mat-form-field>
        <mat-form-field class="mat-form-meeting-content">
          <textarea [(ngModel)]="meeting.reportPlan" matInput cols="10" rows="5" placeholder="Plan">
              </textarea>
        </mat-form-field>
      </div>
      <div *ngIf="!isPublicDiary">
        <div *ngIf="meetingDiary">
          <mat-form-field class="mat-form-meeting-content">
            <textarea [(ngModel)]="meetingDiary.diaryContent" matInput cols="10" rows="5" placeholder="Content">
                  </textarea>
          </mat-form-field>
          <mat-form-field class="mat-form-meeting-content">
            <textarea [(ngModel)]="meetingDiary.diaryPlan" matInput cols="10" rows="5" placeholder="Plan">
                  </textarea>
          </mat-form-field>
        </div>

        <div *ngIf="!meetingDiary">
          <h3>You not join this meeting</h3>
        </div>
      </div>

    </div>


    <mat-action-row>
      <button mat-button *ngIf="!isDiary && authService.isProfessor()" class="btn btn-raised btn-primary" (click)="openScheduleDialog()">Schedule</button>
      <button mat-button *ngIf="!isDiary && authService.isStudent()" class="btn btn-raised btn-primary" (click)="stdBookMeeting()">Book</button>
      <button mat-button *ngIf="!isDiary && authService.isProfessor()" class="btn btn-raised btn-danger" (click)="isCancelMeeting()">Cancel</button>
      <button mat-button *ngIf="isDiary" (click)="editMeetingDiary()" class="btn btn-raised btn-primary">Save</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>


<div class="w3-modal {{isCancel}}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cancel Meeting</h5>
        <button type="button" (click)="isCancelMeeting()" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="form-group">
            <label>
              <h5>
                <i class="fa fa-pencil-square-o"></i> Enter your note to Student: </h5>
            </label>
            <textarea [(ngModel)]="meeting.reason" name="specialize-topic" id="specialize-topic" cols="10" rows="3" class="form-control"
              placeholder="Insert content here"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="isCancelMeeting()" type="button" class="btn btn-secondary" class="btn btn-raised btn-danger" data-dismiss="modal">Close</button>
        <button (click)="this.cancelMeeting()" type="button" class="btn btn-raised btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal" id="createTopic" tabindex="-1" role="dialog" aria-labelledby="topicTitleId">
  <app-meeting-schedule [timelocation]="meeting.timeLocation"></app-meeting-schedule>
</div> -->

<div class="w3-modal {{isCreateSchedule}}">
  <div class="modal-dialog" style="max-width: 600px" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Schedule</h5>
        <button type="button" (click)="isCreateScheduleMeeting()" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="form-group">
            <label>
              <h5>
                <i class="fa fa-map-marker"></i> Time - Location</h5>
            </label>
            <ng-container *ngFor="let shedule of meeting.timeLocation; let i = index">
              <div class="input-group mb-3">
                <div class="form-row">
                  <div class="col-md-6">
                    <input [(ngModel)]="shedule.meetingTime" name="time{{i}}" type="datetime-local" class="form-control">
                  </div>
                  <div class="col-md-6">
                    <input placeholder="Location" [(ngModel)]="shedule.location" name="location{{i}}" type="text" class="form-control">
                  </div>
                </div>
                <div class="input-group-append col-md-1">
                  <i class="material-icons btn-icon" *ngIf="meeting.timeLocation > 1" (click)="removeMeeting(i)">remove</i>
                </div>
              </div>
            </ng-container>
            <input (click)="addTimeLocation()" name="btnAddReq" id="btnAddReq" class="btn btn-outline-primary btn-sm pull-right" type="button"
              value="Add">

            <!-- <ng-container *ngFor="let shedule of meeting.timeLocation; let i = index">
                <div class="row">
                  <mat-form-field class="mat-from-title col-md-6">
                    <input matInput [(ngModel)]="shedule.meetingTime" type="datetime-local" placeholder="Time">
                  </mat-form-field>
                  <mat-form-field class="mat-from-title col-md-5">
                    <input matInput [(ngModel)]="shedule.location" placeholder="Location">
                  </mat-form-field>
                  <div class="input-group-append col-md-1">
                    <i class="material-icons btn-icon" *ngIf="meetingCreate.timeLocation.length > 1" (click)="removeMeeting(i)">remove</i>
                  </div>
                </div>
              </ng-container>
              <div (click)="addTimeLocation()" class="input-group-append pull-right">
                <i class="material-icons btn-icon">add</i>
              </div> -->

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="isCreateScheduleMeeting()" type="button" class="btn btn-raised btn-danger" data-dismiss="modal">Close</button>
        <button (click)="profCreateScheduleMeeting()" type="button" class="btn btn-raised btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>