.popup{
    display: block;
}
.demo-chip-list {
    width: 40%;
  }
.time-location-list{
    width: 40%;
}  

.mat-form-meeting-content{
    width: 100%;
}

.example-icon {
  padding: 0 30px;
}

.example-spacer {
  flex: 1 1 auto;
}

.toolbar-example{
    width: 100%;
}
.mat-column-task-title-hover :hover{
    font-weight: bold;
}
