<div class="container" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="container-fluid">
      <div *ngIf="meeting.status == 2" class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Meeting is Canceled!</h4>
        <hr>
        <strong>Note: </strong>
        <p>{{meeting.reason}}</p>
        <br>
      </div>
    </div>

      <div class="modal-header">
        <h5 class="modal-title">{{meeting.title}}</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form #createTopicForm="ngForm" action="" method="post">
            <div class="form-group">
              <label>
                <h5>
                  <i class="fa fa-sticky-note-o"></i> Content </h5>
              </label>
              <p>{{meeting.content}}</p>
            </div>
            <div class="row">
              <div *ngIf="authService.isStudent()" class="form-group col-md-5">
                <label>
                  <h5>
                    <i class="fa fa-sticky-note-o"></i> Time-Location </h5>
                </label>
                <div *ngFor="let schedule of meeting.timeLocation" class="form-check">
                  <input (change)="stdBookLocationTime($event, schedule)" ng-checked="(schedule.status == '1')" class="form-check-input" type="radio"
                    name="exampleRadios" id="exampleRadios1">
                  <label class="form-check-label" for="exampleRadios1">
                    {{schedule.location}} - {{schedule.meetingTime | date:'dd-MM-yyyy HH:mm'}}
                  </label>
                </div>
              </div>

              <div *ngIf="meeting.status" class="form-group col-md-5">
                <label>
                  <h5>
                    <i class="fa fa-sticky-note-o"></i> Booked Time-Location </h5>
                </label>
                <div *ngFor="let schedule of meeting.timeLocation">
                  <p *ngIf="schedule.status">{{schedule.location}} - {{schedule.meetingTime | date:'dd-MM-yyyy HH:mm'}}</p>
                </div>
              </div>
            </div>

            <div *ngIf="this.authService.isProfessor() && !meeting.status" class="form-group">
              <label>
                <h5>
                  <i class="fa fa-map-marker"></i> Time - Location</h5>
              </label>
              <ng-container *ngFor="let shedule of meeting.timeLocation; let i = index">
                <div class="input-group mb-3">
                  <div class="form-row">
                    <div class="col-md-6">
                      <input [(ngModel)]="shedule.meetingTime" name="time{{i}}" type="datetime-local" class="form-control">
                    </div>
                    <div class="col-md-6">
                      <input placeholder="Location" [(ngModel)]="shedule.location" name="location{{i}}" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="input-group-append col-md-1">
                    <i class="material-icons btn-icon" *ngIf="meeting.timeLocation > 1" (click)="removeMeeting(i)">remove</i>
                  </div>
                </div>
              </ng-container>
              <input (click)="addTimeLocation()" name="btnAddReq" id="btnAddReq" class="btn btn-outline-primary btn-sm pull-right" type="button"
                value="Add">
            </div>

            <div *ngIf="authService.isStudent()" class="form-group">
              <label>
                <h5>
                  <i class="fa fa-sticky-note-o"></i> Student </h5>
              </label>
              <ul class="list-group">
                <li class="list-group-item {{list.class}}" (click)="isActiveStd(list)" *ngFor="let list of listAllStd">{{list.name}}</li>
              </ul>
            </div>

            <div *ngIf="meeting.status && this.authService.isProfessor()" class="form-group">
              <label>
                <h5>
                  <i class="fa fa-sticky-note-o"></i>Join Student </h5>
              </label>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let list of meeting.student">{{list.name}}</li>
              </ul>
            </div>

            <br>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="editMeeting()" type="button" class="btn btn-raised btn-primary">Save changes</button>
        <button type="button" class="btn btn-raised btn-danger" data-toggle="modal" data-target="#cancelMeeting">Cancel Meeting</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="cancelMeeting" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cancel Meeting</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="form-group">
            <label>
              <h5>
                <i class="fa fa-pencil-square-o"></i> Enter your note to Student: </h5>
            </label>
            <textarea [(ngModel)]="meeting.reason" name="specialize-topic" id="specialize-topic" cols="10" rows="3" class="form-control"
              placeholder="Insert content here"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="cancelMeeting()" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>