<mat-table #table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="idTop">
    <mat-header-cell *matHeaderCellDef> Id Topic </mat-header-cell>
    <mat-cell *matCellDef="let topic"> {{topic.idTop}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef> Tilte </mat-header-cell>
    <mat-cell *matCellDef="let topic"> <div class="title">
        {{topic.title}}
    </div>  </mat-cell>
  </ng-container>

  <ng-container matColumnDef="stNumLimit">
    <mat-header-cell *matHeaderCellDef> Student Number </mat-header-cell>
    <mat-cell *matCellDef="let topic"> {{topic.stNumLimit}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="sem">
      <mat-header-cell *matHeaderCellDef> Semester No </mat-header-cell>
      <mat-cell *matCellDef="let topic"> {{topic.semesterNo}} </mat-cell>
    </ng-container>
  <ng-container matColumnDef="publishDate">
    <mat-header-cell *matHeaderCellDef> Publish Date </mat-header-cell>
    <mat-cell *matCellDef="let topic"> {{topic.publishDate | date:'fullDate'}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
    <mat-cell *matCellDef="let topic">
      <button type="button" class="btn" [ngClass]="actionButtonClass" appTopicDetail [idTopic]="topic.idTop">Detail</button>
      <button *ngIf="showDelete" type="button" class="btn btn-danger" (click)="delete(topic.idTop)">Delete</button>
      <button *ngIf="showEdit" type="button" class="btn btn-success" appTopicFormButton [idTop]="topic.idTop" [draft]="true" (success)="edit($event)">Edit</button>
      <button *ngIf="showPublish" type="button" class="btn btn-primary" (click)="publishTopic(topic.idTop)">Publish</button>

    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayFull ? displayedColumnsFull : displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayFull ? displayedColumnsFull : displayedColumns;"></mat-row>
</mat-table>
