<div class="dropdown">


	<label class="btn btn-default active">
		<input type="file" (change)="selectFile($event)">
	</label>

	<button class="btn btn-primary active" *ngIf="selectedFiles" (click)="upload()"><i class="fas fa-upload"></i> Upload</button>
	<button type="button"  *ngIf="selectedFiles" name="btnNewVer" id="btnNewVer" class="btn btn-success active" (click)="newversion()"><i class="fas fa-plus"></i> Upload New Version</button>
	<div *ngIf="currentFileUpload" class="progress">
		<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
		 aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}" style="height: 20px;">
			{{progress.percentage}}%</div>
	</div>
</div>