<div class="dropdown">
	<div *ngIf="currentFileUpload" class="progress">
		<div class="progress-bar progress-bar-info progress-bar-striped"
		role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
		aria-valuemin="0" aria-valuemax="100"
		[ngStyle]="{width:progress.percentage+'%'}">
		{{progress.percentage}}%</div>
	</div>
	
	<label class="btn btn-default active">
		<input type="file" (change)="selectFile($event)">
	</label>
	
	<button class="btn btn-success" [disabled]="!selectedFiles"
	(click)="upload()">Upload</button>
	<button type="button" name="btnNewVer" id="btnNewVer" class="btn btn-success active" (click)="newversion()">New Version</button>
	<button class="btn btn-primary active dropdown-toggle" type="button" id="Version" data-toggle="dropdown" aria-haspopup="true"
			aria-expanded="false">
				Version
			</button>
	<div class="dropdown-menu" aria-labelledby="Version" >
		<a class="dropdown-item" (click)="changeVersion(v)" *ngFor="let v of uploadService.getListVersion(currentVersion) | async">{{v}}</a>
	</div>
</div>
