<h2 matDialogTitle>Topic Detail</h2>

<mat-dialog-content>
  <label>TITLE</label>
  <p>{{topicDetail.topic.title}}</p>
  <label>SUMMARY</label>
  <p>
    {{topicDetail.topic.sumary}}
  </p>
  <label>STUDENT LIMIT</label>
  <p>
    {{topicDetail.topic.stNumLimit}}
  </p>
  <ng-container *ngIf="topicDetail.topic.semesterNo != null">
    <label>SEMESTER NO</label>
    <p>
      {{topicDetail.topic.semesterNo}}
    </p>
  </ng-container>
  <label>SPECIFICATION</label>
  <p>
    {{specName | async}}
  </p>

  <mat-list *ngIf="students != null ">
    <label>STUDENT GROUP</label>
    <mat-list-item *ngFor="let student of students">
      <mat-icon mat-list-icon>account_circle</mat-icon>
      <h6 mat-line>{{student.stdName}}</h6>
      <p mat-line> {{student.studentId}} </p>
    </mat-list-item>
  </mat-list>
  <label>TOPIC REQUIREMENTS</label>
  <p>
    <mat-list *ngFor="let topicReq of topicDetail.topicRequirement">
      <mat-list-item> {{topicReq.detail}} </mat-list-item>
    </mat-list>
  </p>

  <label>
    TOPIC REFERENCES
  </label>
  <p>
    <mat-list *ngFor="let topicReq of topicDetail.topicMission">
      <mat-list-item> {{topicReq.detail}} </mat-list-item>
    </mat-list>
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="btn btn-secondary" matDialogClose>Close</button>
  <button class="btn btn-primary" matDialogClose [routerLink]="['/topic/detail', topicDetail.topic.idTop]">More Info</button>
</mat-dialog-actions>