<h2 matDialogTitle>Topic Detail</h2>

<mat-dialog-content>
  <label>TITLE</label>
  <p>{{topicDetail.topic.title}}</p>
  <label>SUMMARY</label>
  <p>
    {{topicDetail.topic.sumary}}
  </p>
  <label>SUPERVISOR</label>
  <p>
    <a [routerLink]="['/user/view', (topicDetail.topic.idProf | prof: 'id')]">
      {{topicDetail.topic.idProf | prof}}
    </a>
  </p>
  <label>STUDENT LIMIT</label>
  <p>
    {{topicDetail.topic.stNumLimit}}
  </p>
  <ng-container *ngIf="topicDetail.topic.semesterNo != null">
    <label>SEMESTER NO</label>
    <p>
      {{topicDetail.topic.semesterNo}}
    </p>
  </ng-container>
  <label>SPECIFICATION</label>
  <p>
    {{specName | async}}
  </p>

  <mat-list *ngIf="students != null && students.length > 0 ">
    <label>MEMBERS</label>
    <mat-list-item class="block-content" *ngFor="let student of students" [routerLink]="['/user/view', student.userId]" [ngClass]="{'text-success': student.teamlead == 1}"
      [ngClass]="{'text-primary': student.userId == authSv.getUserId()}">
      <mat-icon mat-list-icon>account_circle</mat-icon>
      <h6 mat-line>{{student.stdName}}</h6>
      <p mat-line> {{student.studentId}} </p>
    </mat-list-item>
  </mat-list>
  <ng-container *ngIf=" topicDetail.topicRequirement.length > 0">
    <label>TOPIC REQUIREMENTS</label>
    <p>
      <mat-list *ngFor="let topicReq of topicDetail.topicRequirement">
        <mat-list-item> {{topicReq.detail}} </mat-list-item>
      </mat-list>
    </p>
  </ng-container>
  <ng-container *ngIf=" topicDetail.topicMission.length > 0">
    <label>
      TOPIC REFERENCES AND KEYWORDS
    </label>
    <p>
      <mat-list *ngFor="let topicReq of topicDetail.topicMission">
        <mat-list-item> {{topicReq.detail}} </mat-list-item>
      </mat-list>
    </p>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="btn btn-secondary" matDialogClose>Close</button>
</mat-dialog-actions>