<h1 matDialogTitle>{{topicDetail.topic.title}}</h1>

<mat-dialog-content>
  <strong>Summary:</strong>
  <p>
    {{topicDetail.topic.sumary}}
  </p>
  <p>
    <strong>Limit Of Student:</strong> {{topicDetail.topic.stNumLimit}}
  </p>
  <p>
    <strong>Semester No:</strong> {{topicDetail.topic.semesterNo}}
  </p>
    <strong>Topic Requirements:</strong>
    <mat-list *ngFor="let topicReq of topicDetail.topicRequirement">
        <mat-list-item> {{topicReq.detail}} </mat-list-item>
    </mat-list>

    <strong>
      Topic Missions:
    </strong>
    <mat-list *ngFor="let topicReq of topicDetail.topicMission">
        <mat-list-item> {{topicReq.detail}} </mat-list-item>
    </mat-list>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button matDialogClose>Close dialog</button>
</mat-dialog-actions>
