<div class="comment-list">
  <div *ngFor="let cmt of taskCmt">
    <div class="comment-block">
      <strong class="w3-text-blue">{{cmt.username}}: </strong> {{cmt.content}}
    </div>
    <div class="text-right time">
      {{cmt.time | date : 'shortTime'}} {{cmt.time | date : 'fullDate'}}
    </div>
  </div>

</div>
<div class="comment-form">
  <mat-form-field style="width: 100%">
    <textarea matInput placeholder="Message" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" #input></textarea>
  </mat-form-field>
  <div class="text-right">
    <button type="submit" (click)="sendComment(input.value)" class="btn btn-primary active" [disabled]="!input.value">Send</button>
  </div>
</div>