.error-body {
    padding-top: 5%;
}

.error-body h1 {
    font-size: 210px;
    font-weight: 900;
    line-height: 210px;
}
.text-dange {
    color: #f33155;
}

.btn-dange, .btn-dange.disabled {
    background: #f33155;
    border: 1px solid #f33155;
}
btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}