
<h1 mat-dialog-title>Schedule</h1>
<div mat-dialog-content>
  <div class="container-fluid">
    <div class="form-group">

      <ng-container *ngFor="let shedule of meeting.timeLocation; let i = index">
        <div class="row">
          <mat-form-field class="mat-from-title col-md-6">
            <input matInput [(ngModel)]="shedule.meetingTime" type="datetime-local" placeholder="Time">
          </mat-form-field>
          <mat-form-field class="mat-from-title col-md-5">
            <input matInput [(ngModel)]="shedule.location" placeholder="Location">
          </mat-form-field>
          <div class="input-group-append col-md-1">
            <i class="material-icons btn-icon" *ngIf="meeting.timeLocation.length > 1" (click)="removeMeeting(i)">remove</i>
          </div>
        </div>
      </ng-container>

      <input (click)="addTimeLocation()" name="btnAddReq" id="btnAddReq" class="btn btn-outline-primary btn-sm pull-right" type="button"
        value="Add">
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button (click)="profCreateScheduleMeeting()" type="button" class="btn btn-raised btn-primary">Save</button>
</div>