<div class="row">
  <div class="col">
    <mat-card>
      <div class="widget-content">
        <div class="pull-left widget-icon bg-success text-white">
          <i class="fas fa-calendar-alt" style="font-size: 30px;">
          </i>
        </div>

        <div class="title">
          123
        </div>
        <div class="comment">
          Meeting
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col">
    <mat-card>
      <div class="widget-content">
        <div class="pull-left widget-icon bg-danger text-white">
          <i class="fas fa-tasks" style="font-size: 30px;">
          </i>
        </div>

        <div class="title">
          {{countTask | async}}
        </div>
        <div class="comment">
          Task
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col">
    <mat-card>
      <div class="widget-content">
        <div class="pull-left widget-icon bg-primary text-white">
          <i class="fas fa-briefcase" style="font-size: 30px;">
          </i>
        </div>

        <div class="title">
          {{countTopic | async}}
        </div>
        <div class="comment">
          Topic
        </div>
      </div>
    </mat-card>
  </div>
</div>
<br>
<br>

<div class="row">
  <div class="col-md-6">
    <div class="example-container mat-elevation-z8">
      <div class="example-header">
        <div class="row">
          <h5 class="col-md-6">
              <span><mat-icon>build</mat-icon></span>
            Task
          </h5>
          <mat-form-field class="col-md-6">
            <input matInput placeholder="Filter">
          </mat-form-field>
        </div>
      </div>
      <mat-table #table [dataSource]="listRecentTask | async">
        <ng-container matColumnDef="title" class="col-md-7">
          <mat-header-cell *matHeaderCellDef class="mat-column-task-title text-center"> Task Title </mat-header-cell>
          <mat-cell *matCellDef="let task" (click)="navigateToTaskDetail(task.idTask)" matTooltip="Detail" class="mat-column-task-title mat-column-task-title-hover">
            {{task.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="pass" class="col-md-1">
          <mat-header-cell *matHeaderCellDef class="text-center mat-column-task-review"></mat-header-cell>
          <mat-cell *matCellDef="let task" class="text-center mat-column-task-review">
            <span>
              <mat-icon *ngIf="task.pass == 0">replay</mat-icon>
              <mat-icon *ngIf="task.pass == 1" style="color:#f55549">event_busy</mat-icon>
              <mat-icon *ngIf="task.pass == 2" style="color:#49f5a5">event_available</mat-icon>
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="deadline" class="col-md-1">
          <mat-header-cell *matHeaderCellDef class="mat-column-task-deadline text-center"> Deadline </mat-header-cell>
          <mat-cell *matCellDef="let task" class="mat-column-task-deadline text-center"> {{task.deadline | date}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnTask"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnTask;"></mat-row>
      </mat-table>
    </div>
  </div>

  <div class="col-md-6">
    <div class="example-container mat-elevation-z8 ">
      <div class="example-header">
        <div class="row">
          <h5 class="col-md-6">
              <span><mat-icon>people</mat-icon></span>
            Meeting
          </h5>
          <mat-form-field class="col-md-6">
            <input matInput placeholder="Filter">
          </mat-form-field>
        </div>
      </div>
      <mat-table #table [dataSource]="listRecentMeeting">

        <ng-container matColumnDef="title" class="col-md-7">
          <mat-header-cell *matHeaderCellDef class="mat-column-meeting-title text-center"> Meeting Title </mat-header-cell>
          <mat-cell *matCellDef="let meeting" (click)="navigateToMeetingDetail(meeting.meetingID)" class="mat-column-meeting-title">
            {{meeting.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status" class="col-md-1">
          <mat-header-cell *matHeaderCellDef class="mat-column-meeting-status text-center"></mat-header-cell>
          <mat-cell *matCellDef="let meeting" class="mat-column-meeting-status text-center">
            <span>
              <mat-icon *ngIf="meeting.status == 0">replay</mat-icon>
              <mat-icon *ngIf="meeting.status == 1" style="color:#49f5a5">event_available</mat-icon>
              <mat-icon *ngIf="meeting.status == 2" style="color:#f55549">event_busy</mat-icon>

            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="bookedSchedule" class="col-md-1">
          <mat-header-cell *matHeaderCellDef class="mat-column-meeting-schedule text-center"> Time-Location </mat-header-cell>
          <mat-cell *matCellDef="let meeting" class="text-center mat-column-meeting-schedule">
            <div *ngIf="meeting.bookedSchedule != null">{{meeting.bookedSchedule.meetingTime | date}} - {{meeting.bookedSchedule.location}}</div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnMeeting"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnMeeting;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
<br>
<br>

<div class="row">
  <div class="example-header">
    <div class="row">
      <h5 class="col-md-6">
        <i class="fa fa-pencil-square-o"></i>
        Topic Manager
      </h5>
      <mat-form-field class="col-md-6 disable">
        <input matInput placeholder="Filter">
      </mat-form-field>
    </div>
  </div>
  <div class="col-md-8 col-sm-12 ">
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="listRecentTopic | async">
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef class="mat-column-topic-title text-center"> Title </mat-header-cell>
          <mat-cell *matCellDef="let topic" class="mat-column-topic-title"> {{topic.title}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="studentCount">
          <mat-header-cell *matHeaderCellDef class="mat-column-topic-stdnumber text-center"> Student </mat-header-cell>
          <mat-cell *matCellDef="let topic" class="mat-column-topic-stdnumber text-center"> {{topic.studentCount}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="mat-column-topic-action text-center"></mat-header-cell>
          <mat-cell *matCellDef="let topic" class="mat-column-topic-action text-center">
            <button class="btn btn-primary" (click)="getStudentTopic(topic)">
              <span>
                <mat-icon>fast_forward</mat-icon>
              </span>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsTopic"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsTopic;"></mat-row>
      </mat-table>
    </div>
  </div>

  <div class="col-md-4 col-sm-12">
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="listStudentTopic | async">
        <ng-container matColumnDef="stdName">
          <mat-header-cell *matHeaderCellDef class="mat-column-std-name text-center">Student Name </mat-header-cell>
          <mat-cell *matCellDef="let student" class="mat-column-std-name text-center"> {{student.stdName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="teamlead">
          <mat-header-cell *matHeaderCellDef class="mat-column-std-isTeamlead text-center"> Team Leader </mat-header-cell>
          <mat-cell *matCellDef="let student" class="mat-column-std-isTeamlead text-center">
            <span>
              <mat-icon *ngIf="student.teamlead" style="color:#49f5a5">check</mat-icon>
              <mat-icon *ngIf="!student.teamlead" style="color:#f55549">close</mat-icon>
            </span>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsUser"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsUser;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
<br>
<br>