<div>
  <mat-horizontal-stepper [linear]="isLinear" [selectedIndex] = "1" #stepper="matHorizontalStepper">
    <ng-template matStepperIcon="edit">
      <mat-icon>done</mat-icon>
    </ng-template>
    <mat-step>
      <ng-template matStepLabel>
        Start Semester
        <br> (May 5, 2018)
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Start Do Task</ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Middle Review</ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Start Review</ng-template>
    </mat-step>
  </mat-horizontal-stepper>

</div>

<div class="inner-block">
  <div class="market-updates">
    <div class="row">
      <div (click)="navigateToTaskPage()" class="col-md-4 market-update-gd">
        <div class="market-update-block clr-block-1">
          <div class="row">
            <div class="col-md-7 market-update-left">
              <h3>{{countTask}}</h3>
              <h4>Tasks</h4>
            </div>
            <div class="col-md-5 market-update-right">
              <i class="fa fa-wrench"> </i>
            </div>
          </div>
        </div>
      </div>
      <div (click)="navigateToMeetingPage()" class="col-md-4 market-update-gd">
        <div class="market-update-block clr-block-2">
          <div class="row">
            <div class="col-md-7 market-update-left">

              <h3>{{countMeeting}}</h3>
              <h4>Meetings</h4>

            </div>
            <div class="col-md-5 market-update-right">
              <i class="fa fa-users"> </i>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="this.authoSv.isProfessor()" (click)="navigateToTopicPage()" class="col-md-4 market-update-gd">
        <div class="market-update-block clr-block-3">
          <div class="row">
            <div class="col-md-7 market-update-left">
              <h3>{{recentTopicCount}}</h3>
              <h4>Topics</h4>
            </div>
            <div class="col-md-5 market-update-right">
              <i class="fa fa-file-alt"> </i>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="this.authoSv.isStudent()" (click)="navigateToChatGroupPage()" class="col-md-4 market-update-gd">
        <div class="market-update-block clr-block-3">
          <div class="row">
            <div class="col-md-7 market-update-left">
              <h3>{{countMessage | async}}</h3>
              <h4>Messages</h4>
            </div>
            <div class="col-md-5 market-update-right">
              <i class="fa fa-envelope"> </i>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<br>
<br>


<div class="row">
  <div class="col-md-6">
    <div class="example-container mat-elevation-z2">
      <div class="example-header">
        <div class="row">
          <h4 *ngIf="listRecentTask" matBadge="4" matBadgeOverlap="false" class="col-md-6 title-header">
            <span>
              <mat-icon>build</mat-icon>
            </span>
            Task
            <span class="badge badge-pill badge-info badge-title">{{(listRecentTask)?.length}}</span>

          </h4>
          <div class="col-md-6 text-right">
            <button (click)="openDialog()" type="button" class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm" name="new" id="new">
              <i class="material-icons">add</i>
            </button>
          </div>
        </div>
      </div>
      <mat-table #table [dataSource]="listRecentTask">
        <ng-container matColumnDef="title" class="col-md-7">
          <mat-header-cell *matHeaderCellDef class="mat-column-task-title text-center"> Task Title </mat-header-cell>
          <mat-cell *matCellDef="let task" (click)="navigateToTaskDetail(task.idTask)" class="mat-column-task-title">
            <div type="text" class="mat-column-task-title-hover">
              {{task.title}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="pass" class="col-md-1">
          <mat-header-cell *matHeaderCellDef class="text-center mat-column-task-review"></mat-header-cell>
          <mat-cell *matCellDef="let task" class="text-center mat-column-task-review">
            <span>
              <mat-icon *ngIf="task.pass == 0">replay</mat-icon>
              <mat-icon *ngIf="task.pass == 1" style="color:#f55549">event_busy</mat-icon>
              <mat-icon *ngIf="task.pass == 2" style="color:#49f5a5">event_available</mat-icon>
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="deadline" class="col-md-1">
          <mat-header-cell *matHeaderCellDef class="mat-column-task-deadline text-center"> Deadline </mat-header-cell>
          <mat-cell *matCellDef="let task" class="mat-column-task-deadline text-center"> {{task.deadline | date}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnTask"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnTask;"></mat-row>
      </mat-table>
    </div>
  </div>

  <div class="col-md-6">
    <div class="example-container mat-elevation-z2 ">
      <div class="example-header">
        <div class="row">
          <h4 class="col-md-6 title-header">
            <span>
              <mat-icon>people</mat-icon>
            </span>
            Meeting
            <span class="badge badge-pill badge-info badge-title">{{listRecentMeeting?.length}}</span>
          </h4>
          <div class="col-md-6 text-right">
            <button type="button" class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm" name="new" id="new" data-toggle="modal" data-target="#createMeeting">
              <i class="material-icons">add</i>
            </button>
          </div>
        </div>
      </div>
      <mat-table #table [(dataSource)]="listRecentMeeting">

        <ng-container matColumnDef="title" class="col-md-7">
          <mat-header-cell *matHeaderCellDef class="mat-column-meeting-title text-center"> Meeting Title </mat-header-cell>
          <mat-cell *matCellDef="let meeting" (click)="navigateToMeetingDetail(meeting.meetingID)" class="mat-column-meeting-title">
            {{meeting.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status" class="col-md-1">
          <mat-header-cell *matHeaderCellDef class="mat-column-meeting-status text-center"></mat-header-cell>
          <mat-cell *matCellDef="let meeting" class="mat-column-meeting-status text-center">
            <span>
              <mat-icon *ngIf="meeting.status == 0">replay</mat-icon>
              <mat-icon *ngIf="meeting.status == 1 && meeting.bookedSchedule != null && 
              !isMeetingToday(meeting.bookedSchedule.meetingTime)" style="color:#49f5a5">event_available</mat-icon>

              <mat-icon *ngIf="meeting.status == 2" style="color:#f55549">event_busy</mat-icon>

              <mat-icon *ngIf="meeting.status == 1 && meeting.bookedSchedule != null && 
              isMeetingToday(meeting.bookedSchedule.meetingTime)" style="color:#ffca00">add_alert</mat-icon>

            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="bookedSchedule" class="col-md-1">
          <mat-header-cell *matHeaderCellDef class="mat-column-meeting-schedule text-center"> Time-Location </mat-header-cell>
          <mat-cell *matCellDef="let meeting" class="text-center mat-column-meeting-schedule">
            <div *ngIf="meeting.bookedSchedule != null">
              {{meeting.bookedSchedule.meetingTime | date}}
              <br> {{meeting.bookedSchedule.location}}
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnMeeting"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnMeeting;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
<br>
<br>

<div class="row">
  <div class="col-md-8 col-sm-12 ">
    <div class="example-container mat-elevation-z2">
      <div class="example-header">
        <div class="row">
          <h4 class="col-md-6 title-header">
            <span>
              <mat-icon>notes</mat-icon>
              Topic Manager
              <span class="badge badge-pill badge-info badge-title">{{listRecentTopic?.length}}</span>
            </span>
          </h4>
          <mat-form-field class="col-md-6 disable">
            <input matInput placeholder="Filter">
          </mat-form-field>
        </div>
      </div>
      <mat-table #table [dataSource]="listRecentTopic">
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef class="mat-column-topic-title text-center"> Title </mat-header-cell>
          <mat-cell *matCellDef="let topic" class="mat-column-topic-title"> <a [routerLink]="['/task/list/', topic.idTop]">{{topic.title}} </a> </mat-cell>
        </ng-container>
        <ng-container matColumnDef="studentCount">
          <mat-header-cell *matHeaderCellDef class="mat-column-topic-stdnumber text-center"> Student </mat-header-cell>
          <mat-cell *matCellDef="let topic" class="mat-column-topic-stdnumber text-center"> {{topic.studentCount}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="mat-column-topic-action text-center"></mat-header-cell>
          <mat-cell *matCellDef="let topic" class="mat-column-topic-action text-center">
            <button class="btn btn-primary" (click)="getStudentTopic(topic)">
              <span>
                <mat-icon>fast_forward</mat-icon>
              </span>
            </button>
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumnsTopic"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsTopic;"></mat-row>
      </mat-table>
    </div>
  </div>

  <div class="col-md-4 col-sm-12">
    <div class="example-container mat-elevation-z2">
      <div class="example-header">
        <div class="row">
          <h6 class="col-md-12 title-header">
            <span>
              <mat-icon>person</mat-icon>
            </span>
            Students
            <span class="badge badge-pill badge-info badge-title">{{studentTopicCount}}</span>
          </h6>
        </div>
      </div>
      <mat-table #table [dataSource]="listStudentTopic | async">
        <ng-container matColumnDef="stdName">
          <mat-header-cell *matHeaderCellDef class="mat-column-std-name text-center">Student Name </mat-header-cell>
          <mat-cell *matCellDef="let student" (click)="navigateToStudentDetail(student.studentId)" class="mat-column-std-name text-center">
            {{student.stdName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="teamlead">
          <mat-header-cell *matHeaderCellDef class="mat-column-std-isTeamlead text-center"> Team Leader </mat-header-cell>
          <mat-cell *matCellDef="let student" class="mat-column-std-isTeamlead text-center">
            <span>
              <mat-icon *ngIf="student.teamlead" style="color:#49f5a5">check</mat-icon>
              <mat-icon *ngIf="!student.teamlead" style="color:#f55549">close</mat-icon>
            </span>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsUser"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsUser;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
<br>
<br>

<div class="modal" id="createMeeting" tabindex="-1" role="dialog" aria-labelledby="topicTitleId">
  <app-meeting-create (addNewMeeting)="addNewMeeting($event)"></app-meeting-create>
</div>