.widget-content {
    box-sizing: border-box;
}
.widget-icon {
    width: 65px;
    height: 65px;
    text-align: center;
    float: left !important;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 15px;
    line-height: 1.42857143;
}
.title {
    font-size: 28px;
}
.comment {
    font-size: 14px;
}
.widget-icon > i {
    display: inline-block;
    line-height: 66px;
}

.container-table {
    display: flex;
    flex-direction: column;
    height: 250px;

    min-width: 300px;
  }

  .mat-table {
    overflow: auto;
    height: 250px;
  }

  .box-title {
    font-weight: 500;
    font-size: 16px;
    outline: 0 !important;
    padding-bottom: 15px;
  }

  .task-comment {
    font-family: Rubik,sans-serif;
    color: #313131;
    font-weight: 300;
    padding-top: 5px !important;
  }

  .time{
    display: inline-block;
    font-size: 12px;
    color: #98a6ad;
  }
.task-center {
    padding-top: 5px;
}
.task-content{
    padding: 10px 0px 10px 0px;
    color: #848a96;
}

.recent-task-list{
    overflow: auto;
    max-height: 700px;

}


.mat-column-task-title{
    flex: 0 0 60%;
}
.mat-column-meeting-title{
    flex: 0 0 55%;
}
.mat-column-task-title-hover :hover {
    background: #3C3C3C;
    transition: 0.5s all;
}
.mat-column-task-deadline{
    flex: 0 0 30%;
}
.mat-column-meeting-schedule{
    flex: 0 0 35%;
}
.mat-column-task-review{
    flex: 0 0 10%;
}
.mat-column-meeting-status {
    flex: 0 0 10%;
}


.mat-cell{
    font-size: 85%;
}
.mat-row, .mat-header-row{
    padding-left: 15px;
    padding-right: 5px;
}
.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .example-container{
      padding-left: 0px;
  }

  .mat-column-topic-title{
    flex: 0 0 70%;
  }
  .mat-column-topic-stdnumber{
    flex: 0 0 15%;
  }
  .mat-column-topic-action{
    flex: 0 0 15%;
  }
  .mat-column-std-name{
      flex: 0 0 75%;
  }
  .mat-column-std-isTeamlead{
    flex: 0 0 25%;
}

.title-header{
    padding-top: 20px;
}
.badge-title {
    position: absolute;
    bottom: 20px;
}


.market-update-block {
    padding: 2em 2em;
    background: #999;
}
.market-update-block h3 {
    color: #fff;
    font-size: 2.5em;
    font-family: 'Carrois Gothic', sans-serif;
}
.market-update-block h4 {
	 font-size: 1.2em; 
    color: #fff;
    margin: 0.3em 0em;
   font-family: 'Carrois Gothic', sans-serif;
}
.market-update-block p {
    color: #fff;
    font-size: 0.8em;
    line-height: 1.8em;
}
.market-update-block.clr-block-1 {
    background: #68ae00;
    margin-right: 0.8em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.market-update-block.clr-block-2 {
    background:#FC8213;
    margin-right: 0.8em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.market-update-block.clr-block-3 {
    background:#337AB7;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.market-update-block.clr-block-1:hover {
    background: #3C3C3C;
   transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.market-update-block.clr-block-2:hover {
    background: #3C3C3C;
   transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.market-update-block.clr-block-3:hover {
    background:#3C3C3C;
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.market-update-right i.fa.fa-wrench {
    font-size: 3em;
    color:#68AE00;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    border-radius: 49px;
    -webkit-border-radius: 49px;
    -moz-border-radius:49px;
    -o-border-radius:49px;
    line-height: 1.7em;
}
.market-update-right i.fa.fa-users {
     font-size: 3em;
    color:#FC8213;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    border-radius: 49px;
    -webkit-border-radius: 49px;
    -moz-border-radius:49px;
    -o-border-radius:49px;
    line-height: 1.7em;
}
.market-update-right i.fa.fa-envelope {
     font-size:3em;
    color:#337AB7;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    border-radius: 49px;
    -webkit-border-radius: 49px;
    -moz-border-radius:49px;
    -o-border-radius:49px;
    line-height: 1.7em;
}
.market-update-right i.fa.fa-file-alt {
    font-size:3em;
   color:#337AB7;
   width: 80px;
   height: 80px;
   background: #fff;
   text-align: center;
   border-radius: 49px;
   -webkit-border-radius: 49px;
   -moz-border-radius:49px;
   -o-border-radius:49px;
   line-height: 1.7em;
}
.market-update-left {
    padding: 0px;
}


