<!-- Modal -->
<div class="modal-dialog" style="max-width: 600px" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title mce-text-center" id="topicTitleId"> Create Meeting</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        
        <div class="example-container">

          <div *ngIf="this.authService.isProfessor()" class="form-group">
              <select [(ngModel)]="meetingCreate.topicID" name="topicid" class="custom-select">
                <option selected [value]="0">Choose Topic</option>
                <option *ngFor="let topic of listTopic" [value]="topic.idTop">{{topic.title}}</option>
              </select>
          </div>

          <mat-form-field class="mat-from-title">
            <input matInput [(ngModel)]="meetingCreate.title" placeholder="Title">
          </mat-form-field>


          <mat-form-field class="mat-from-content">
            <textarea matInput [(ngModel)]="meetingCreate.content" placeholder="Content" cols="10" rows="5"></textarea>
          </mat-form-field>

          <div *ngIf="this.authService.isProfessor()" class="form-group">
            <ng-container *ngFor="let req of meetingCreate.timeLocation; let i = index">
              <div class="row">
                <mat-form-field class="mat-from-title col-md-6">
                  <input matInput [(ngModel)]="req.meetingTime" type="datetime-local" placeholder="Time">
                </mat-form-field>
                <mat-form-field class="mat-from-title col-md-5">
                  <input matInput [(ngModel)]="req.location" placeholder="Location">
                </mat-form-field>
                <div class="input-group-append col-md-1">
                  <i class="material-icons btn-icon" *ngIf="meetingCreate.timeLocation.length > 1" (click)="removeMeeting(i)">remove</i>
                </div>
              </div>
            </ng-container>
            <div (click)="addTimeLocation()" class="input-group-append pull-right">
              <i class="material-icons btn-icon">add</i>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-raised btn-danger" data-dismiss="modal">Close</button>
        <button (click)="createMeeting()" type="submit" class="btn btn-raised btn-primary" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>