.popup {
    display: block;
}

.example-container {
    display: flex;
    flex-direction: column;
  }

.mat-form-topic{
    width: 100%;
}
.mat-form-title{
    width: 100%;
}
.mat-form-content{
    width: 100%;
}